.field {
  position: relative;
  margin: auto auto;
}

.cornerBlock {
  position: absolute;
  background-color: #5c5c5c;
  color: white;
  border: 1px solid black;
}

.company {
  position: absolute;
  color: white;
  box-sizing: border-box;
  border: 1px solid black;
}

.children {
  position: absolute;
  overflow: auto;
}
