.company {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  color: white;
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  transition: all 0.1s;
}

.company:hover {
  border-radius: 10px;
  transform: scale(1.2);
  z-index: 2;
}

.title {
  padding: 10px 10px 0 10px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.children {
  position: absolute;
  overflow: scroll;
}

.price {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.railroad {
  background: rgb(255, 29, 88);
  background: linear-gradient(
    135deg,
    rgba(255, 29, 88, 1) 50%,
    rgba(0, 221, 255, 1) 50%
  );
}
